[2016-02-15 11:00] gusaiani opened #1 "Double "tab" to trigger snippets"
Hi @msaraiva,

I’ve been using the package, and notice that it’s necessary to hit tab twice every time a user needs to trigger a snippet.

By disabling the package, the behavior reverts to normal: 1 tab keydown to trigger the snippet.

All the best!
Gustavo

[2016-02-15 11:07] eddwardo opened #2 "package not installed."
I followed installing instructions and package is not listed.

[code]

[2016-02-15 11:50] msaraiva commented on #2
@eddwardo you didn't clone the project into you `~/.atom/packages/` folder. In this case, you need to run `apm link` inside `atom-elixir `. Let me know if it works and thanks for testing!

[2016-02-15 11:59] eddwardo commented on #2
silly me, it works now.

[2016-02-15 11:59] #2 closed

[2016-02-15 12:01] msaraiva commented on #1
@gusaiani It's fixed!. Try to `git pull` the package and restart Atom. Let me know if it's working. Thanks for the feedback!

[2016-02-16 13:35] vdaniuk opened #3 "Cannot read property 'getDocumentation' of null"
Was really looking forward to advanced elixir support in atom, thanks for making it a reality!

I've been testing and getting this error both on atom start and feature activating in editor. Atom is updated to latest version. I'm on Ubuntu 15.04.

[code]

[2016-02-16 13:50] msaraiva commented on #3
@vdaniuk if you hit `ctrl-shift-i` to open the dev/debug panel, do you see any message from the server?

[2016-02-16 14:16] vdaniuk commented on #3
yep, 3 exceptions in addition to the original one:
[code]

[2016-02-16 17:33] #1 closed

[2016-02-16 19:38] gusaiani commented on #1
Yup, it’s working. :100:

[2016-02-16 20:12] msaraiva commented on #3
Just pushed a fix to master. Can you pull the package again and restart Atom? In your dev/debug view, you should see now:
[code]
If you don't, let me know.

[2016-02-16 20:18] vdaniuk commented on #3
Atom-elixir alchemist notification is logged at Atom start, everything seems to be working as intended. Thanks for the fast fix.

[2016-02-16 20:18] #3 closed

[2016-02-17 10:14] olivermt opened #4 "autocomplete on a foo/0 method autofills foo(arg1, arg0)"
functions with higher arity works just like they should, naming the parameters correctly too.

Uninstalled every other elixir package except language-elixir to confirm it is not a conflict somewhere.

[2016-02-17 11:46] msaraiva commented on #4
Fixed. Many thanks for the feedback!

[2016-02-17 11:46] #4 closed

[2016-02-17 12:50] olivermt opened #5 "typing do <enter> will autofill @doc """ """ no matter where you are"
so if you type out def blabla do <enter>, it ends up as def blabla @doc """ """

I guess there might be added some logic that it only auto fills to @doc if there is only whitespace to the left of your cursor

[2016-02-17 12:52] olivermt commented on #5
oops, this is the wrong project, sorry

https://github.com/elixir-lang/language-elixir/issues/40

[2016-02-17 12:52] #5 closed

[2016-02-18 01:33] jc00ke opened #6 "Not working on Linux"
I'm running `Atom 1.5.3` on `Ubuntu 15.10` and I've installed your package via `git`. The `apm install` went swimingly. When I tried to test out things, like autocomplete or go to docs nothing happens.

I'm new to Atom, so there's a good chance I don't have it set up correctly. I do have [language-elixir](https://atom.io/packages/language-elixir) installed.

`ctrl-space` is mapped to `autocomplete

[2016-02-18 02:33] msaraiva commented on #6
Can you open the Dev Tools Panel and see if there's any message on the console?  Shortcut should be `ctrl-shift-i` on linux.

[2016-02-18 06:20] jc00ke commented on #6
OK, super strange, but it works now. I had restarted it several times and... this time it works. I'll close for now and hope that it keeps working. The autocomplete is fast and accurate. Radness.

[2016-02-18 06:20] #6 closed

[2016-02-18 16:11] vanloc0301 opened #7 "Can't run apm install"
I was clone project to atom package folder.
But when I open the terminal and run `apm install` was not install on my machine.
I must set up apmd but it was not run.

I was run command `atom-beta install` it show error like:
`
Failed to load the atom-elixir package

[code]
`
My computer run ubuntu 14.04 LTS.
Thanks.

[2016-02-18 16:35] vanloc0301 commented on #7
Updated, I forget run command `npm install` before run `atom-beta install`.

[2016-02-18 16:35] #7 closed

[2016-02-19 11:44] olivermt opened #8 "package stopped working, need advice on how to debug"
Hello.

The autocomplete has slightly stopped working and the rest of the package does not work.

I have not tried reinstalling in case you wanted me to do some debugging.

Currently, only the first letter typed gives a hint of something to fill in (maybe this comes from language-elixir?).

So typing "v" gives the options that start with v, for example VideoAddressService.

Nothing else autofills

[2016-02-19 11:47] olivermt commented on #8
Aha, it was something wrong with the project itself.

My AppName.Web module wouldnt load mix compile was saying, so I had to do a mix clean for it to work again.

This brings me around to changing this into a information suggestion, if iex/alchemist server cant compile the project, show some sort of visual warning :)

[2016-02-21 05:26] lee-dohm opened #9 "Default docs stylesheet results in washed-out heading and code on light theme"
Using built-in [one-light-ui theme](https://github.com/atom/one-light-ui). Screenshots taken from Logger documentation.

Header:

<img width="440" alt="logger-name-washed-out" src="https://cloud.githubusercontent.com/assets/1038121/13201118/6c858da8-d818-11e5-818e-8786dbc05f5a.png">

Code sample:

<img width="716" alt="screen shot 2016-02-20 at 9 24 20 pm" src="https://cloud.githubusercontent.com/

[2016-02-22 06:46] lee-dohm opened #10 "Uncaught TypeError: Cannot read property 'replace' of undefined"
### Repro Steps

1. Typing along in some code with the autocomplete panel popping up

**Atom Version**: 1.7.0-dev-e39d200
**System**: Mac OS X 10.11.3
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package, v0.0.0

### Stack Trace

Uncaught TypeError: Cannot read property 'replace' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[cod

[2016-02-23 00:47] msaraiva commented on #8
atom-elixir is not responsible for any compilation yet. So if there's any compilation going on, you probably have another package doing it. Right now all the information about a module is only introspected if the module is compiled. So I guess it would be nice to show a warning to tell that in case the project has not been compiled yet. I'm changing the issue's title and tagging it as enhancement.

[2016-02-23 02:24] msaraiva opened #11 "Review all views trying different themes"
Related to [#9](https://github.com/msaraiva/atom-elixir/issues/9)

[2016-02-23 02:28] msaraiva commented on #9
Fixed! Using UI variables now.

I created another issue [(#11)](https://github.com/msaraiva/atom-elixir/issues/11) to review all other views using different themes.

@lee-dohm many thanks for taking time to test the package. I really appreciated.

[2016-02-23 02:28] #9 closed

[2016-02-23 02:39] lee-dohm commented on #9
You're welcome! Love the ideas in the package even if I'm still a bit new to Elixir :grinning:

[2016-02-23 02:51] msaraiva commented on #9
Yeah, I wish I had time to implement half of the ideas I have for this package. It would be really awesome ;)

[2016-02-23 19:59] paulcsmith opened #13 "Fuzzy autocomplete"
First off, great work on the project! I'm not sure how autocomplete works in this project, but I wonder if it could use fuzzy searching (as an option) so `Phnx` would match `Phoenix`. I rely on this quite heavily from the default atom autocomplete. I wonder if this package could hook into atom's package to allow the fuzzy matching?

[2016-02-24 17:13] msaraiva commented on #13
It would be a nice feature. I'll take a look at it after publishing the first release.

[2016-02-24 17:13] paulcsmith commented on #13
Right on. Thanks for the awesome work!

[2016-02-24 17:16] blackfist opened #14 "Failed to load - cannot find module 'marked'"
[Enter steps to reproduce below:]

1. navigate to ~/.atom/packages
2. git clone this repo
3. Quit and re-open atom

**Atom Version**: 1.5.3
**System**: Mac OS X 10.10.5
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package, v0.0.3

### Stack Trace

Failed to load the atom-elixir package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-24 17:34] msaraiva commented on #14
You've missed the `apm install` inside the newly created folder, after cloning.

[2016-02-24 18:52] blackfist commented on #14
ugh. Sorry. I am the dumb. Here is a funny gif as my way of saying sorry.

http://i.giphy.com/10C5xbZwvsFs64.gif

[2016-02-25 12:05] msaraiva commented on #14
:)

[2016-02-25 12:05] #14 closed

[2016-03-01 20:16] mgwidmann opened #15 "module Support.Helpers is not loaded and could not be found"
Awesome package! Can't wait for this to be ready.

Just installed the package and when I do ctrl + shift + x I see this:

![image](https://cloud.githubusercontent.com/assets/5035724/13440549/88469b86-dfc0-11e5-9e92-79652453b6b3.png)

[2016-03-02 15:54] mgwidmann commented on #15
So I figured out that this does work when I place it in other files. This example was placed into a test file, which in phoenix uses `def elixirc_paths(:test), do: ["lib", "test"]` to add it to the compile path. When I try to expand anything inside a file that uses the compiled test code it complains that the module doesn't exist.

[2016-03-02 18:29] msaraiva commented on #15
@mgwidmann thanks for the feedback. I'll take a look at it.

[2016-03-02 18:39] mgwidmann commented on #15
Thanks, I suspect because the module only exists in the test env and so it fails. Not sure what you should do about it...

Thanks a bunch for this plugin though, its really awesome!

[2016-03-04 18:17] gmalkas opened #16 "Communicate to alchemist via socket"
Hi,
what would you think about communicating to the Alchemist elixir process via a socket instead of running the process directly?

My use case is the following: I run atom on OS X but have multiple versions of elixir running in a Linux VM. I share the files between the two via NFS thanks to vagrant. I'd like to avoid installing the same elixir versions on OS X as I do most of my work in the VM.

[2016-03-05 07:08] mzgnr opened #17 "Autocomplete trigger"
Readme says that ctrl + space is the key combination for autocomplete feature. Can we change it to do autocomplete without ctrl + space ?

[2016-03-06 01:16] cameronp commented on #10
I get this consistently when typing "use ExUnit.Case" at the top of a new test file.  Haven't seen it happen any other time.

1. ...
2. ...

**Atom Version**: 1.5.4
**System**: Mac OS X 10.10.5
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package, v0.0.4

### Stack Trace

Uncaught TypeError: Cannot read property 'replace' of undefined

[code]

### Commands

[code]

### C

[2016-03-08 04:05] msaraiva commented on #10
Fixed!

[2016-03-08 04:05] #10 closed

[2016-03-08 04:05] msaraiva commented on #15
Fixed!

[2016-03-08 04:05] #15 closed

[2016-03-08 04:06] msaraiva commented on #10
And thanks for the detailed report :)

[2016-03-08 08:32] fergusmeiklejohn opened #18 "Uncaught TypeError: Cannot read property 'stdin' of null"
[Enter steps to reproduce below:]

1. ...Threw error on install
2. ...

**Atom Version**: 1.5.4
**System**: Mac OS X 10.11.3
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package, v0.1.1

### Stack Trace

Uncaught TypeError: Cannot read property 'stdin' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-03-08 10:49] msaraiva commented on #18
@fergusmeiklejohn I've just published a new version v0.1.2. Can you try it out?

Thanks.

[2016-03-08 15:59] bigardone opened #19 "Package not working after update"
Hi!
I've just updated to **v0.1.2** using Atom's package manager and it doesn't show the*\* Documentation Tab*\* anymore. I'm trying to launch it with the `F2` key or the **command palette**, but nothing happens and no errors are shown. Is this only happening to me?
Thanks in advance.

[2016-03-09 00:07] msaraiva commented on #19
I've just found out that the package is not deactivating correctly. So I guess updating without restarting will not work. Does the problem persists even after restarting or hitting `CTRL+ALT+CMD+L`?

In case you still having trouble after restarting, hit `ALT+CMD+i` to open the console. You should see something like:
[code]

Check if there's any other message.

Thanks.

[2016-03-09 01:15] fergusmeiklejohn commented on #18
thanks!  I installed v0.1.2, I don't get this error message anymore.  It doesn't seem work at all though.  None of the commands have any effect :-(
How can I help you debug this?

[2016-03-09 02:38] msaraiva commented on #18
The server is probably not starting. Try this instructions and let me know the results.
https://github.com/msaraiva/atom-elixir/issues/19#issuecomment-194031815

[2016-03-09 02:51] fergusmeiklejohn commented on #19
I restarted again and it now works :-)  I'm getting uncaught type errors with quoted code, I'm sending them from atom, so you've got all the details

[2016-03-09 02:52] fergusmeiklejohn opened #20 "Uncaught TypeError: _this.quotedCodeGetter is not a function"
[Enter steps to reproduce below:]

1. ...quoted code command throws this error, but actually still seems to work
2. ...

**Atom Version**: 1.5.4
**System**: Mac OS X 10.11.3
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package, v0.1.2

### Stack Trace

Uncaught TypeError: _this.quotedCodeGetter is not a function

[code]

### Commands

[code]

### Config

[code]

### Inst

[2016-03-09 02:52] fergusmeiklejohn opened #21 "Uncaught TypeError: _this.matchesGetter is not a function"
[Enter steps to reproduce below:]

1. ... quoted code command throws this error but still opens the docs pane and seems to be working
2. ...

**Atom Version**: 1.5.4
**System**: Mac OS X 10.11.3
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package, v0.1.2

### Stack Trace

Uncaught TypeError: _this.matchesGetter is not a function

[code]

### Commands

[code]

### Config

[2016-03-09 03:03] msaraiva commented on #18
Could you copy & paste the output of your console? You can use `alt+cmd+i` to open it.

[2016-03-09 03:47] msaraiva commented on #18
@fergusmeiklejohn No need to send the output anymore. Thanks.

[2016-03-09 07:10] bigardone commented on #19
@msaraiva `CTRL+ALT+CMD+L` did the trick, now it works like a charm again, thank you so much :)

[2016-03-09 21:57] #21 closed

[2016-03-09 21:57] #20 closed

[2016-03-09 21:58] #18 closed

[2016-03-09 22:05] msaraiva commented on #19
`CTRL+ALT+CMD+L` (or restarting Atom) is the only workaround for now. I'll take I deeper look at this problem before publishing the next release.

[2016-03-09 22:16] msaraiva commented on #16
I think the communication via sockets would be the ideal solution. Using the stdin/stdout as it is now is suboptimal and has some limitations. I would love to do that before v1.0. Let's see how it goes ;)

[2016-03-09 22:25] msaraiva commented on #17
You can change to any key combination you like. Take a look at "Settings" -> "Keybinding", search for "autocomplete". You could then set your own keybinding using your keymap file.

[2016-03-09 22:25] #17 closed

[2016-03-14 09:12] eddwardo opened #22 "Autocompletion for package from dependencies."
I am having a problem with autocompletion for packages from my dependencies.
1. mix new some_app
2. add `ecto` to mix dependencies
3. mix deps.get, deps.compile
4. open some_app.ex in lib directory, type Ecto. - nothing happens.

Am I missing something here ?

[2016-03-14 22:52] msaraiva commented on #22
Can you confirm you have the *.beam files in your `./_build/dev/lib/ecto/ebin/`? In case you don't, then something went wrong while compiling the project. Autocomplete needs the compiled beam files to work properly. In case you DO have those files, please send more information (OS, Elixir version, Atom version, installed packages, etc.) so I can investigate the issue.

Thanks.

[2016-03-14 23:41] msaraiva commented on #19
@lee-dohm is there a way to locally simulate a package update?

The only way I can reproduce this bug is by actually publishing and updating the package.
[Here](https://discuss.atom.io/t/how-to-register-package-installation-events-in-atom-editor/23481) you explain:

I've already tried to "deactivate" and "activate" the package using `CTRL+ALT+CMD+L` as well as disabling and enabling the package. B

[2016-03-15 00:05] lee-dohm commented on #19
What I generally do when I need to reproduce a package update bug is I use the apm feature to install a particular version like `apm install tabs-to-spaces@1.0.1`. Then I launch Atom and let the package update process handle updating to the current version.

As far as testing if a fix works, there currently isn't a good method of doing that. Though there are these changes in the works that may hel

[2016-03-15 10:36] eddwardo commented on #22
There are some `*.beam` files in
[code]

Atom version: 1.5.4
Atom Package version: atom-elixir@0.1.4
Elixir: 1.2.2

I also noticed that my linter doesn't discover Ecto, so It might be something with my setup.

https://www.dropbox.com/s/7e15n3wn908853v/Screenshot%202016-03-15%2011.36.05.png?dl=0

[2016-03-15 16:33] BinaryMuse commented on #19
@msaraiva Here's a bit more information about what happens down in `settings-view`'s `PackageManager::update` when you update a package:

1. It deactivates the package via `atom.packages.deactivatePackage(packageName)`
2. It unloads the package via `atom.packages.unloadPackage(packageName)`
3. It installs the update via apm
4. If the package was enabled, it re-activates it using `atom.packages.act

[2016-03-16 10:10] msaraiva commented on #19
@lee-dohm and @BinaryMuse Thank you both for the detailed information. That's very helpful, indeed! I'll take a look and try it out.

BTW, Installing packages from git urls will be a great feature.
Thanks again for all your great work!

[2016-03-16 10:23] msaraiva commented on #22
@eddwardo try to open your atom console (`option+cmd+i` on OSX). There should be log messages out there that might help us to find out what's going on.

[2016-03-16 10:42] eddwardo commented on #22
@msaraiva All I see is:
https://www.dropbox.com/s/ytmqjbfrivdvqb1/Screenshot%202016-03-16%2011.42.02.png?dl=0

[2016-03-16 18:16] DorianGrey commented on #13
Just to mention an idea...
If I didn't get that wrong, the completion suggestions are create by the alchemist server [here](https://github.com/msaraiva/atom-elixir/blob/master/lib/alchemist-server/lib/api/comp.exs#L63) resp. [here](https://github.com/msaraiva/atom-elixir/blob/master/lib/alchemist-server/lib/api/comp.exs#L69).
Wouldn't it be useful to use the built-in [jaro_distance](http://elixir-

[2016-03-21 19:41] msaraiva commented on #13
@DorianGrey I think it would take more than just replacing `startsWith` with `jaro_distance`. Users may want to keep the startsWith behaviour, so we would need to create a configuration for that and also change the API to pass that configuration to the server and than to all required functions, including the functions that lists modules and functions/macros. If you consider all the cases, includin

[2016-03-22 07:27] DorianGrey commented on #13
Hm... I'd suggest whether it might be useful to configure the autocompletion behavior to stay with "startsWith" (or maybe use a completely different strategy) depends on the results that the alternatives create. Maybe another fuzzy matching strategy based on Levenshtein-distance would be more suitable.

I'll take a closer look at these options next weekend.

[2016-03-22 15:47] eddwardo commented on #22
Calling `mix test` solved the issue.

[2016-03-22 15:47] #22 closed

[2016-03-28 13:41] DorianGrey commented on #13
Hm... took some time to get Levenshtein to a good performance. The fuzzy completion works rather good on simple variables (although the decision rule should still be tuned a little bit). However, I didn't have in mind that starts_with is also used on a more higher level [here](https://github.com/msaraiva/atom-elixir/blob/master/lib/alchemist-server/lib/helpers/complete.exs#L368), which makes confi

[2016-04-04 06:49] olivermt commented on #19
I cant get atom-elixir to start after update either, getting:

[code]

[2016-04-08 06:55] quannguyen89 opened #23 "Go to definition not work"
Hi!

I tried to use `option+up` or `option+click` but I couldn't go to definition. Could you resolve this issue?

Thanks!

[2016-04-10 23:58] mbramson commented on #23
Confirming I am having this problem as well on both Ubuntu 14.04 and Windows 7. When I hover, the word is underlined, but clicking it does nothing.

[2016-04-11 22:48] msaraiva commented on #23
Hi,

I will certainly need more information. Please, try this:

- Restart Atom
- Open your Elixir/Mix project (in case it's not opened yet)
- Hit `ALT+CMD+i` to open the console (ALT+CTRL+i on windows/linux, i guess). You should see something like:
[code]
- If you don't see that, you should see some error message from the alchemist-server. If that's the case, please let me know what the message lo

[2016-04-11 22:54] msaraiva commented on #13
@DorianGrey yeah, I think the whole autocomplete feature should eventually be refactored in order to be more flexible for extensions. Keep in mind that this code was originally designed to work with `iex`. I already made some customisation but it always fells hacky.

[2016-04-13 11:37] tv4-infrastruktur commented on #23
We got the following when trying to navigate to `Evergent.authenticate` when having a `alias Account.Evergent`.

[code]

[2016-04-16 16:32] kraades opened #24 "Installing Atom package does not work"
Installing the Atom package takes forever and does not work. If you try to uninstall you get error message below.

On Ubuntu 15.10 64-bit, Windows 8.1 64-bit and Windows 2012 R2 64-bit and the latest Atom version.

Edit:
I installed from the GUI. If I install using the command line it works but I had to disable/enable the package first. Not sure what went wrong.

![atom-elixir](https://cloud.githu

[2016-04-17 20:52] insiderq opened #25 "Autocompletion isn't work"
I've installer a plugin, i've seen in console "Initializing alchemist-server for environment "dev" (Elixir version 1.1.1)", F2 works, but autocompletion isn't what am i doing wrong?

[2016-04-18 20:48] insiderq commented on #25
The plugin autocomplete-plus was disabled, that wasn't clear

[2016-04-18 20:48] #25 closed

[2016-04-19 01:04] msaraiva commented on #24
@kraades thanks for the feedback. It's going to be really hard for me to find out what went wrong. I can't reproduce the problem on any of my testing environments. Does it always happen when you try to uninstall and install again?

[2016-04-19 01:13] msaraiva commented on #23
If the server has started and your files were successfully compiled, there's no reason not to work. Is it possible for any of you to push to github a minimal project simulating the problem?

Thanks.

[2016-04-19 01:19] msaraiva opened #26 "Create a "Debug mode" setting"
- Print server INFO/DEBUG information to Atom console only when this option is selected

[2016-04-19 01:26] msaraiva commented on #25
@insiderq Thanks for the feedback!

[2016-04-19 01:46] msaraiva opened #27 "Create a "Server Info" view"
It should contain:

- Server status (if down, show the error message)
- Elixir version
- Elixir bin path
- The `env` (e.g. dev, test)
- Loaded paths/modules

[2016-04-19 21:03] Hostert opened #28 "Documentation don't work properly"
Hello.

I'm trying to use documentation for every function, but just some works.
For example: When I call `F2`on `def`, works ok with this console output:

`[Server] DOCL { "def", "/tmp/vyjxlfpd8", 10 } server-process.coffee:149`

When I call on `String.duplicate`, nothing happens and console logs this:

`[atom-elixir] %FunctionClauseError{arity: 2, function: :do_lookup_docs, module: Code} server-

[2016-04-26 11:38] insiderq opened #29 "Go to Definition is not working"
When i hit with Alt at module User that is defined in another file inside `lib/` nothing happens.
Console logs the following `elixir-goto-definition-provider.coffee:64 Can't find "User"`
Same behaviour for all modules, even standart ones.
`[atom-elixir] Initializing alchemist-server for environment "dev" (Elixir version 1.1.1)` is shown at the beginning and Find Documentation function is working a

[2016-05-11 20:23] mrkaspa opened #30 "Problem with the default atom autocomplete behaviour"
It doesn't autocomplete with variables on the module, functions on the same module or with previous used words in the files like it's the common atom behaviour

[2016-05-21 14:44] VladShcherbin commented on #29
Same issue.

[2016-05-21 14:49] VladShcherbin commented on #28
Same issue.

[2016-06-01 16:06] ScrimpyCat opened #31 "Breaks descriptions of other autocomplete packages"
When using this package, other autocomplete packages stop working correctly. Their descriptions no longer show up. My current solution is to disable this package everytime I'm working on non-elixir code, and then re-enable it when I'm working on elixir code.

The culprit as far as I can tell is https://github.com/msaraiva/atom-elixir/blob/master/lib/elixir-autocomplete-provider.coffee#L25 Because

[2016-06-05 20:29] msaraiva commented on #31
@ScrimpyCat this is already fixed on master and will be in version 0.2.0 (to be released hopefully tomorrow)
Thanks for the feedback!

[2016-06-14 07:19] olivermt opened #32 "Uncaught SyntaxError: Invalid regular expression: /\|>\s*??$/: Nothing to repeat"
I was simply editing around when I got this error:

(This submit directly from atom thing is awesome)

**Atom Version**: 1.8.0
**System**: Microsoft Windows 10 Home Insider Preview
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package, v0.1.4

### Stack Trace

Uncaught SyntaxError: Invalid regular expression: /\|>\s*??$/: Nothing to repeat

[code]

### Commands

[code]

#

[2016-06-22 01:21] chrisjowen commented on #23
+1 on OSX

[2016-06-23 01:06] chocnut opened #33 "not working in osx"
did install via apm but upon restarting atom multiple times an .ex file still doesn't have syntax on. I've also tried check the syntax list but elixir is not there.

[2016-06-23 01:15] #33 closed

[2016-06-24 10:20] yaBliznyk opened #34 "[atom-elixir] Error: spawn elixir ENOENT"
Hello! My Elixir (1.2.6) version installed by asdf extension and contains in path:
/home/bloom/.asdf/shims/elixir

I get this error in atom console:
[code]
and extension doesn`t work.

update:
[code]

error http://joxi.ru/E2pMxGjuBoKN7A
which http://joxi.ru/4AkZRN7SMJQqZ2

[2016-06-24 10:48] yaBliznyk commented on #34
It`s work)) i just run
[code]

[2016-06-27 20:29] msaraiva commented on #34
@yaBliznyk thanks for solving the issue.

[2016-06-27 20:29] #34 closed

[2016-06-27 20:31] msaraiva commented on #31
Fixed since v0.2.0.

[2016-06-27 20:31] #31 closed

[2016-06-27 20:37] msaraiva commented on #30
@mrkaspa Autocomplete for used words in the file is not supported yet. Variables on module, functions on the same module should all work as long as the module has been successfully compiled. There's a new version v0.2.1. You might try it and see if the problem is gone. Let me know if it's not.

[2016-06-27 20:43] msaraiva commented on #29
There's a new version v0.2.1. Please, update and check if the problem is gone. Also remember to restart Atom after update or hit `CTRL+ALT-CMD-L` on mac.

Thanks for reporting the issue.

[2016-06-27 20:44] msaraiva commented on #28
There's a new version v0.2.1. Please, update and check if the problem is gone. Also remember to restart Atom after update or hit `CTRL+ALT-CMD-L` on mac.

Thanks for reporting the issue.

[2016-06-27 20:45] #24 closed

[2016-06-27 20:45] msaraiva commented on #23
There's a new version v0.2.1. Please, update and check if the problem is gone. Also remember to restart Atom after update or hit `CTRL+ALT-CMD-L` on mac.

Thanks for reporting the issue.

[2016-06-27 21:02] insiderq commented on #29
All mine modules are found now, Thanks! Standard's modules like Enum are not, but i think that is the way it supposed to be. Am i wrong?

[2016-06-27 21:15] msaraiva commented on #19
@BinaryMuse and @lee-dohm:

The above statement seems not to apply for my package. I'm probably doing something completely wrong on activate/deactivate. Every single time I update from the `settings-view`, Atom always calls the `activate` from the old package instead of the new one. The only way I could partially deal with this was by calling this ugly [hack](https://github.com/msaraiva/atom-elixi

[2016-06-27 21:23] msaraiva commented on #29
@insiderq it should definitely work for any standard module as long as the sources are available in your environment. How did you install Elixir?

[2016-06-27 21:43] insiderq commented on #29
I installed Elixir via `brew`, it is definetely added to `PATH` in `zsh`, and probably in `bash` too (since when i do `bash` and then `iex` everything is working). When i `cd` into my project folder and use `iex -S mix run` everything is working too (obviously).

[2016-06-27 21:52] insiderq commented on #29
I thought a little more and understand that probably brew installes only binaries. Given that that's remaining to be unclear what means "available in environment". Which environment variable should reflec Elixir's source and in what way exactly?

[2016-06-27 22:15] msaraiva commented on #29
If brew installs only binaries then "Goto definition" cannot work for those modules. A workaround would be to pull the sources and copy them to the same folder defined in the binary file. Run `Enum.module_info(:compile)[:source]` on `iex` to check where the sources were located originally, when elixir was compiled. The better solution would be to have another brew package to install the sources.

[2016-06-27 22:22] insiderq commented on #29
I think that's no way=( `/private/tmp/elixir20160221-36085-19qilli/elixir-1.2.3/lib/elixir/lib/enum.ex`

[2016-06-27 22:25] insiderq commented on #29
Is there a possibility to have an environment variable corresponding to the elixir source location configured via package settings for example and for every find module attempt add a subsequent search in a source directory.

Of course described option wuold require coding. I just mean, is it on the plan?

[2016-06-27 22:34] msaraiva opened #35 "Create a configuration to define elixir's source path"
Discussion [here](https://github.com/msaraiva/atom-elixir/issues/29#issuecomment-228893848).

[2016-06-27 22:41] msaraiva commented on #35
Also print a better message than "Can't find TheModule"

[2016-06-27 22:42] msaraiva commented on #29
Closing this in favor of https://github.com/msaraiva/atom-elixir/issues/35

[2016-06-27 22:42] #29 closed

[2016-06-27 22:44] msaraiva commented on #23
Closing this in favor of https://github.com/msaraiva/atom-elixir/issues/35

[2016-06-27 22:44] #23 closed

[2016-06-27 22:49] msaraiva commented on #32
I can't reproduce this problem. Are you getting this error many times or was it only this once?

[2016-06-27 23:00] insiderq commented on #35
Do not see any disadvantages for that.
In addition it seems to me that along with language growth more and more developers will install binaries.

[2016-06-28 05:00] olivermt commented on #32
Was only once and I later in the day had a weird git bug that made me have
to reboot to access a folder. Running on the linux enabled win10 preview,
so I guess we can likely attribute it to that.
On Jun 28, 2016 00:50, "Marlus Saraiva" <notifications@github.com> wrote:

[2016-06-28 20:26] #32 closed

[2016-07-06 14:35] styx commented on #30
I also have a problem with autocomplete. you_complete_me stops working after enabling atom-elixir plugin. Don't know how that should be implemented, but it seems to be possible to make them work together. If I'm not missing typescript plugin worked well with ycm.

[2016-07-08 12:48] mrkaspa commented on #30
@msaraiva yeah this has to be posible and it's pretty useful, I've got the lastest version but doesn't work yet

[2016-07-08 13:36] msaraiva opened #36 "Configuration for enable/disable lower priority autocomplete suggestions"
Set this option based on user preferences: https://github.com/msaraiva/atom-elixir/blob/292a1b9127c18a4c638ba52a8b76e0c47d09cfcc/lib/elixir-autocomplete-provider.coffee#L10

[2016-07-08 13:43] msaraiva commented on #30
I guess [this](https://github.com/msaraiva/atom-elixir/issues/36) would solve the issue. I'll try to implement this before the next release. PRs are welcome.

Thanks for reporting!

[2016-07-08 13:49] mrkaspa commented on #30
@msaraiva you were right https://github.com/msaraiva/atom-elixir/pull/37

[2016-07-08 14:09] msaraiva commented on #30
@mrkaspa yeah, but we need to have that value based on a preference so the user can choose the preferable behaviour.

[2016-07-17 01:38] bill-mybiz opened #39 "Jump to def, back from def, jump to def with split views."
Ubuntu 16.04, Atom 1.8.0

Steps to repro:
1. Open two window panes with the two different pertinent source files: One where the function is declared, and one where it is consumed.
2. In the file where the function is consumed, hit `alt+down` to go to the definition. This should take you over to the other pane.
3. Now hit `alt+up` to return to where you just were. This returns to the correct locati

[2016-07-19 18:20] touchstoneis opened #40 "Server fails to connect on windows"
When launched the console produces this error: "[atom-elixir] No file named C:\Users\..."

It's because my user name contains a space, and when I added quotes around the path in server-process.coffee (@args = [path.join('"' + __dirname + '"', "alchemist-server/run.exs")]) everything worked as expected.

Hope this helps, and thanks for this great plugin!

[2016-07-21 08:23] DanCouper opened #41 "Autocomplete not working properly for specific constructs"
If this can't be duplicated then I assume it's a conflict with another package, but after disabling other packages, I'm still seeing this behaviour:

For '@'-prefixed stuff (`@doc`, `@moduledoc`, `@type`, `@spec` *&c*), I get an extra '@', *eg*:
<img width="292" alt="screenshot 2016-07-21 08 54 49" src="https://cloud.githubusercontent.com/assets/573694/17015720/a38124f2-4f23-11e6-9050-1de43a426ff0

[2016-07-21 11:51] sobolevn commented on #41
The same here.

[2016-07-25 15:34] ziyouchutuwenwu opened #42 "always hung up when atom not working fronted"
i set erlang bin dir, elixir bin dir under mac osx
when i open phoenix controller file, then switch to open athother app, for example, chrome, just for 1-5 minites, back to atom, it hungup, when i disable it, and try again, it runs ok.

[2016-07-25 16:00] #42 closed

[2016-08-02 00:49] msaraiva commented on #41
**atom-elixir** does not provide any snippets. That means those snippets are definitely coming from another package (probably language-elixir). The reason you're getting another '@' is because they were defined without the '@' prefix. As you can see from the list, there's no `@doc` but just `doc`, so if you want to use those snippets just write `doc`. The `puts` snippet has the same problem. The f

[2016-08-02 00:49] #41 closed

[2016-08-02 01:22] msaraiva commented on #40
@touchstoneis the suggested solution does not work on mac/linux, so we need to find a way to make it work for all environments. The best shot would be to change this [line](https://github.com/msaraiva/atom-elixir/blob/master/lib/server-process.coffee#L172). Since I don't have windows, it would be hard for me to test it. So, If you can find a solution that works on both, feel free to submit a PR or

[2016-08-02 01:38] msaraiva commented on #39
Yes. I was able to reproduce the problem on OSX. I'll take a look at it.

Well, it is planned, but I'll need to find some time to do it. I'm not sure if I'll be able to implement this in the next couple of months. Let's see how it goes.

Thanks for reporting this issue!

[2016-08-02 18:19] mrkaspa opened #43 "Display documentation doesn't work on atom 1.9"

[2016-08-02 18:22] DanCouper commented on #41
Thank you @msaraiva, sorry for cluttering up your issues.

[2016-08-02 19:58] msaraiva commented on #41
No problem. Allowing suggestions from other packages causes confusion and that bothers me a lot too. Maybe I should create a configuration where the user could choose the preferred behaviour.

[2016-08-03 15:29] touchstoneis commented on #40
Thanks for pointing me in the right direction.  I don't have a mac or linux so I didn't have the opportunity to test that first.

I'm not sure of the full intent of the @args collection, but it looks like its only being used for file paths.  I in-lined a simple map to quote the contents before building the command and it works on all my machines:

spawn('cmd', ['/s', '/c', '"' + [@command].concat(

[2016-08-19 09:38] matteosister commented on #35
just to inform everyone landing here, for me there was two problems:

- I'm using asdf to manage the versions of elixir and erlang, the binary is in my classpath, but for some reason I have to symlink elixir and erl executables in my /usr/local/bin folder to make it work.

- If the project is compiled inside a container, it has the wrong path of the file, so I think that _go to definition_ could n

[2016-08-20 02:21] skanel commented on #43
me too, I am using atom 1.9.9 not does not work with atom-elixir.

[2016-08-21 03:17] dvcrn opened #44 "Respect autocomplete+ completion keybinding"
atom-elixir binds `enter` in all `autocomplete-active` panes [here](https://github.com/msaraiva/atom-elixir/blob/master/keymaps/atom-elixir.cson#L34), this includes autocomplete+.

[autocomplete plus is allowing rebinding of the confirm key](https://github.com/atom/autocomplete-plus#usage), however when atom-elixir is installed as well, `enter` will always confirm the completion and ignore autocom

[2016-08-23 17:09] OvermindDL1 opened #45 "atom-elixir is breaking autocomplete in other languages"
Currently atom-elixir is hooking the autocomplete-plus:confirm with its own command, in *all* contexts, not just in source.elixir type files:  https://github.com/msaraiva/atom-elixir/blob/master/lib/elixir-autocomplete-provider.coffee#L16-L34

This is breaking autocomplete in other autocomplete plugins for other languages since the re-cast event is missing data, such as for elm:  https://github.co

[2016-08-24 14:32] OvermindDL1 commented on #45
As per halohalospecial, `atom-text-editor:not([mini])[data-grammar^="source elixir"]` or something like it should fix it.

[2016-09-19 18:52] Quanttek opened #46 "Installation failed: Failed to parse package.json"
I am using Fedora 24 and got this problem both on 1.10.0 and 1.10.2. First one was from the [Copr repo](https://copr.fedorainfracloud.org/coprs/mosquito/atom/), latter one is from the official website.

[code]

The log file listed doesn't exist

[2016-09-19 21:00] pt-arvind opened #47 "jump to definition doesn't work"
Trying this package out and it looks like autocomplete is working and quotes work too but jump to definition has no effect whatsoever.

Tried using alt+click, alt+down, cmd+shift+p and choosing Goto Definition. All of them do absolutely nothing. This is for an elixir 1.3, phoenix project if that makes a difference?

EDIT/UPDATE: went to the console log and saw this:

[code]

at the very bottom aft

[2016-09-24 17:45] bbugh commented on #43
I'm sure this isn't helpful for you if it's not working, I am on 1.9.9 and it's working for me. It was a fresh install at this version, maybe there's something left over from older versions for you that is preventing it from working?

[2016-10-01 12:28] rubencaro commented on #45
I do not see this on Fedora24 Atom1.10.0 atom-elixir0.2.1

[2016-10-01 12:32] rubencaro commented on #30
I guess we all waiting for #36

[2016-10-03 16:01] OvermindDL1 commented on #45
@rubencaro Using what packages?  For example it breaks elmjutsu plugin by hooking the autocomplete-confirm command everywhere, including elm files, instead of just elixir files.

[2016-10-03 18:11] rubencaro commented on #45
@OvermindDL1 I use _builtin_ autocomplete with at least Python, Markdown, Yaml, Erlang, Ruby and Javascript. All while using atom-elixir with Elixir.

The only issue I see is this #36.

Maybe you mean atom-elixir is breaking autocomplete plugins **_other_ than the _builtin_ one**. That I cannot tell.

[2016-10-03 20:15] OvermindDL1 commented on #45
That indeed might be it.  What is happening is elmjutsu is relying on the keycodes passed from autocomplete-plus, but when atom-elixir is hooking that with its own handler and not passing the autocomplete-plus fully compatible structure then it breaks.

What is odd, it should not be hooking it at all unless in an elixir file, it should not be touching autocomplete-plus for elm files at all.

[2016-10-15 22:27] heretiq commented on #33
Hello @chocnut I'm experiencing this same issue. Did you ever resolve it? If so, can you explain how?

Thanks!

[2016-11-09 22:22] enilsen16 opened #49 "Deprecated selector in `atom-elixir/styles/atom-elixir.less`"
In `atom-elixir/styles/atom-elixir.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selec

[2016-12-01 13:55] Besatnias commented on #49
when will this update happen?

[2016-12-02 01:14] enilsen16 commented on #49
Good question. I'm pretty sure atom is released as rolling updates. My best guess is before the end of the year.

[2016-12-20 09:58] aeons opened #50 "Allow not autocompleting arguments"
Functions usually have optional arguments, but when you autocomplete functions, all arguments are autocompleted as well.

It would be nice to have an option to only autocomplete the function names, maybe with an option to add parentheses or not.

[2016-12-25 06:50] dax0 opened #51 "High CPU Usage"
I typically use a desktop so I'm not sure if this is an issue everywhere but on my laptop I noticed the `beam.smp` process that this plugin spawns ends up using 100% of my CPU.  Any idea?

[2017-01-05 05:25] iancharters opened #52 "Aliased Modules"
If you alias modules it doesn't seem to want to autocomplete them.

[2017-01-06 10:07] clessg commented on #44
For anyone else with this issue, you can override this package's keybindings:

[code]

[2017-01-10 23:53] jmvl commented on #51
we are experiencing the same issue.
`opt/appname/erts-8.2/bin/beam.smp -- -root /opt/appname`
is using 99% CPU

[2017-01-11 10:55] jayjun commented on #49
Bumping this, since Atom 1.13 is out.

[2017-01-11 19:39] jaimevelaz commented on #49
I've created a pull request fixing the selectors as atom suggests

[2017-01-12 15:30] minademian opened #54 "Uncaught Error: spawn ENOTDIR"
[Enter steps to reproduce below:]

1. Happens on every launch of Atom

**Atom Version**: 1.13.0
**Electron Version**: 1.3.13
**System**: Mac OS X 10.11.6
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package, v0.2.1

### Stack Trace

Uncaught Error: spawn ENOTDIR

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2017-01-13 02:12] jayjun opened #55 "Is this package still maintained?"
The last commit was pushed six months ago.

With @msaraiva's blessing, I'll gladly maintain an official fork because it's been indispensible in my daily work.

[2017-01-19 02:40] msaraiva commented on #55
@jayjun I'll split `atom-elixir` into two different projects as described [here](https://github.com/tonini/alchemist-server/issues/6#issuecomment-256243983). After that I intend to maintain only the project related to the server part. So, YES! I'd be more than glad if someone could fork and maintain the JS/CoffeScript part (the atom-elixir package itself).

[2017-01-19 04:02] jayjun commented on #55
Super! I'll gladly maintain the CoffeeScript part. I'll let you take charge on how to proceed.

For now, I've forked this project as [atomic-elixir](https://github.com/jayjun/atomic-elixir).

[2017-01-22 12:46] mokaikai opened #56 "Deprecated selector in `atom-elixir/styles/atom-elixir.less`"
In `atom-elixir/styles/atom-elixir.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selec

[2017-01-22 12:48] mokaikai commented on #56
[`49`](https://github.com/msaraiva/atom-elixir/issues/49)
Sorry, please close this issue.

[2017-01-25 10:52] mm-tfx commented on #56
Will this fix merged to master be available within some next release or I should fix it somehow manually?
(I am not sure right now how to fix it manually)

[2017-01-25 14:20] jayjun commented on #56
It's fixed and merged to master already f91e5b9, but @msaraiva hasn't publish update to Atom Package Manager.

[2017-01-27 17:12] suyesh opened #57 "Deprecated selector in `atom-elixir/styles/atom-elixir.less`"
In `atom-elixir/styles/atom-elixir.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selec

[2017-01-27 23:20] markkauffman2000 commented on #57
+1 suyesh

[2017-01-28 00:33] jayjun commented on #57
It's fixed and merged to master already f91e5b9, but @msaraiva hasn't publish an update to Atom Package Manager.

[2017-01-29 02:10] Olshansk commented on #47
I managed to fix this issue by removing my build file and recompiling:

[code]

[2017-02-01 21:26] Sly777 commented on #57
@jayjun cool!!

[2017-02-01 21:27] Sly777 commented on #55
What's the difference between of atomic-elixir and atom-elixir now?

[2017-02-02 05:15] jayjun commented on #55
@Sly777 It's a mirrored fork now. Earlier I fixed the depreciation issues and published atomic-elixir, but took it down when @msaraiva responded. Strangely, he hasn't push the update to apm.

If there's enough demand, I might go ahead and publish atomic-elixir.

[2017-02-02 11:03] msaraiva commented on #55
I'll push a new version this evening containing @jayjun's fix and some other important stuff, including:
- Fix parser to work properly with Elixir 1.4.0.
- Fix code expansion to avoid high CPU usage (https://github.com/msaraiva/atom-elixir/issues/51).

After that I'll get back to work on a separated project containing only the Elixir parser/tools and then publish it as a different lib so that any

[2017-02-03 02:14] msaraiva commented on #55
@jayjun It's all on master. Can you or anybody else give it a try. Since this is the first version using the new lib (the Elixir part), I'd love to get some feedback before pushing the package to the official repo. If everything goes ok, I'll publish tomorrow. Thanks!

[2017-02-05 01:14] jayjun commented on #55
@msaraiva I've been trialling master since you pushed and zero issues.

Also, great work on ElixirSense!

[2017-02-06 13:45] msaraiva commented on #55
@jayjun That's great! I'll pull your latest changes and publish the package.

Yeah. Not only Jump To Definition, but also Go To Docs and Autocomplete only work for local project files if the those files have the respective `.beam` files available.

[2017-02-06 14:07] #44 closed

[2017-02-06 16:59] msaraiva commented on #51
Please update to v0.2.2 and let me know if this still happens. Thanks!

[2017-02-06 16:59] #51 closed

[2017-02-06 16:59] #57 closed

[2017-02-06 16:59] #56 closed

[2017-02-06 16:59] #49 closed

[2017-02-06 17:01] msaraiva commented on #19
This is not supposed to be an issue anymore. See https://github.com/atom/settings-view/pull/851.

[2017-02-06 17:01] #19 closed

[2017-02-06 17:04] msaraiva commented on #55
v0.2.2 has been published! Please let me know if the update process went well without any issues. Thanks!

[2017-02-06 20:39] jwarpenius opened #60 "Uncaught TypeError: ServerProcess is not a constructor"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.13.1
**Electron Version**: 1.3.13
**System**: Mac OS X 10.12.4
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package, v0.2.2

### Stack Trace

Uncaught TypeError: ServerProcess is not a constructor

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2017-02-06 21:54] #47 closed

[2017-02-06 21:55] #28 closed

[2017-02-07 10:46] jayjun commented on #55
v0.2.2 works. Feel free to close this issue, we now know the package is still maintained. 😁

[2017-02-07 16:26] mrkaspa opened #61 "Doesn't autocomplete with previous words on file"
This was working with the previous version

[2017-02-07 16:51] mrkaspa commented on #61
I fixed this in this PR https://github.com/msaraiva/atom-elixir/pull/37

[2017-02-07 22:29] #55 closed

[2017-02-09 18:47] rawkode opened #62 "Support Remote Alchemist"
Hi,

Can you add an option to supply my own alchemist-server URI?

I run everything in containers, and there's a whole load of permission issues when running your plugin.

I'd love to be able to specify my own alchemist host and port.

Thanks

[2017-02-10 13:21] sotojuan opened #64 "Function documentation for `worker` doesn't display the spec"
![](http://i.imgur.com/RQL1wbp.png)

So far this has only happened with `worker`. I can scroll down in that tiny window to get the spec, but by default you can't read it.

[2017-02-13 23:36] msaraiva commented on #62
@rawkode I've just pushed the initial version of a new TCPServer that will replace the one based on stdout/stderr. As soon as I have all features working, I'll remove the old one and then you'll be able to setup your own host/port. Right now, only the new "Signature/params Info" is using the new TCP server.

[2017-02-14 05:43] rawkode commented on #62
Thanks, @msaraiva

Will you be separating ElixirSense and Atom plugin codebase so one could run ElixirSense in a Docker container?

[2017-02-23 08:35] ilikebits opened #65 "`atom-elixir` clobbers $PATH environment variable in Atom"
With `atom-elixir` enabled, my `$PATH` variable is set to the default Bash path for my system. This breaks all kinds of plugins which rely on `$PATH` being properly set in order to spawn external binaries. Disabling `atom-elixir` solves the issue.

[2017-02-24 13:15] CalixHu opened #66 "Auto-Completion stop working sometime"
I randomly got this error when I use the atom-elixir package. I have to restart the Atom to make it working again.
Here is the log:

[atom-elixir] Activating atom-elixir version 0.2.2
[atom-elixir] Initializing ElixirSense server for environment "test" (Elixir version 1.3.3)
Working directory is "/home/calixhu/workspace/abs"

[atom-elixir] ** (throw) {:expand_error, "Cannot expand recursive macro"

[2017-02-24 19:58] msaraiva commented on #66
@CalixHu It would be great if you could reproduce this error and send more information about the context. This kind of error is not supposed to be random. It should happen every time when you try to call the same action in the same context, i.e. file, line and column.

[2017-02-26 17:24] ivan opened #67 "Unauthenticated remote code execution from any host"
atom-elixir@master starts a TCP server that listens on all interfaces and evals code without authenticating the user.  Anyone on the network can use this to execute arbitrary code with the privileges of the user running atom-elixir.  (Note: I believe the atom-elixir release version is unaffected; I didn't see a TCP server there.)

make_payload.exs:

[code]

[code]

and observe `/tmp/atom-elixir-rc

[2017-02-27 06:13] CalixHu commented on #66
I think I can reproduce this.
1. Open a unit test file.
2. Typing something.
3. It will throw this error
![123](https://cloud.githubusercontent.com/assets/15894325/23350630/d2e9d212-fcf6-11e6-811c-d6f9f18e5fe2.jpg)
:

[2017-03-03 01:38] msaraiva commented on #67
@ivan thanks for reporting this issue. I'll take a look at it as soon I finish the new API.

Yes. TCPServer is still in development and has not been published yet.

[2017-03-28 15:32] JohnBat26 opened #69 "[atom-elixir] Plugin stop the work periodically and incidentally"
Hello.
Thanks for great plugin !
But I get error after some time working in Atom:

[code]
Last commit: 730944b4279eab30a1967db66795d43b25500979

[2017-03-28 23:20] msaraiva commented on #69
Hi, @JohnBat26.

I afraid I'll need some more information:
  - What OS? Env (dev or test)?
  - Any other messages in the console?
  - Is there a stacktrace somewhere?
  - Can you identify after which action it happens? Autocomplete? From which module? Go to definition? From what file?

The more information I have, the easier it is to reproduce and solve the problem.

Thanks!

[2017-03-29 10:21] #62 closed

[2017-03-30 17:07] JohnBat26 commented on #69
Hi @msaraiva

* atom-elixir: 0.2.2
* OS: Gentoo Linux x86-64
* Atom: 1.15.0
* Electron: 1.3.13
* Chrome  : 52.0.2743.82
* Node    : 6.5.0

This sutiation reproduces periodically and incidentally. Especially reproduces after opening several projects in the same atom application. After restart of Atom plugin works good for some time.

And if I try use atom-elixir:goto-definition and it didn't work,

[2017-03-31 05:15] JohnBat26 commented on #69
@msaraiva Todat I get this problem again.
I install last git version of atom-elixir (commit: 4534a1c33fb5f2134e59d30eaf91f279e142872c) and just open clear phoenix project.
[Atom log](https://gist.github.com/JohnBat26/f319f592dc7cec04db5cc88c17c85776)

[2017-03-31 09:34] msaraiva commented on #69
@JohnBat26, please try v0.2.3 and let me know how it goes. I'll fix on master during the weekend. BTW, what file from the new phoenix project have you opened and what was the first action you've tried to run before the error?

Thanks again!

[2017-03-31 09:51] JohnBat26 commented on #69
@msaraiva I've installed v.0.2.3 and it begin to work better but when I add two phoenix project into Atom I get error and plugin stop moving between modules with help Alt+Down.

My code: [phoenix_commerce.ex](https://gist.github.com/JohnBat26/6c8cb52968691254093bb6790e001c8a)

Error: [Atom log for atom-elixir plugin](https://gist.github.com/JohnBat26/3694d4a5d50df4b50c0e11c6be30f00c)

Can I add El

[2017-04-03 20:13] JohnBat26 commented on #69
@msaraiva hello. Add new log with errors: [Atom-elixir can't controller](https://gist.github.com/JohnBat26/58b37a771595db4a5583be936bc3a7dc)

Example code into routes.ex:
[code]
PostController exist, but plugin doesn't move to it with Alt+Down

[2017-04-03 20:19] JohnBat26 commented on #69
@msaraiva and again:
[code]

[2017-04-13 12:10] iJackUA commented on #35
Hi everyone, I have started investigation about Go to Definition for VSCode Elixir plugin, but would like to see if in Atom community resolution would go faster :)

Confirm what @matteosister says about compiling sources inside Docker. I have even prepeared a small proof of concept repo with steps to reproduce in readme https://github.com/iJackUA/vscode-elixir-docker-test   (sorry for the repo nam

[2017-05-11 00:14] ghost opened #70 "Uncaught TypeError: Cannot read property 'style' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.16.0 ia32
**Electron**: 1.3.13
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package 0.2.3

### Stack Trace

Uncaught TypeError: Cannot read property 'style' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-05-20 04:44] liketemple opened #71 "Uncaught TypeError: Cannot read property 'goToNextTabStop' of null"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.17.0 x64
**Electron**: 1.3.15
**OS**: Mac OS X 10.12.4
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package 0.2.3

### Stack Trace

Uncaught TypeError: Cannot read property 'goToNextTabStop' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-06-07 16:00] abhinavzspace opened #72 "Autocomplete or Goto definition are not working."
[Enter steps to reproduce:]

1. When I [Alt + Click] on a function, for going to its definition.
2. This is an umbrella project FYI.

**Atom**: 1.17.2 x64
**Electron**: 1.3.15
**OS**: elementary OS
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package 0.2.3

### Stack Trace

Uncaught TypeError: Cannot read property 'stdin' of null

[code]

### Commands

[code]

### Non-Co

[2017-07-01 19:52] tslater commented on #43
How is the documentation supposed to work exactly? I don't understand "under the cursor".

[2017-07-14 13:45] sascha-wolf commented on #13
Any progess on this? I rely quite a lot on fuzzy autocomplete and find it quite irritating that it doesn't work with this plugin. Other than that, the plugin is awesome.

[2017-07-18 08:18] sascha-wolf opened #74 "Autocomplete: Documentation summary missing"
It seems that the autocomplete documentation summary (which can be seen in the [screenshots](https://raw.githubusercontent.com/msaraiva/atom-elixir/assets/screenshots/autocomplete1.png)) is not working at the moment. While autocompletion in general works fine, the documentation information is nowhere to be seen.

<img width="256" alt="screen shot 2017-07-18 at 10 15 30" src="https://user-images.gi

[2017-07-21 16:27] mveytsman commented on #67
@msaraiva I want to bring this to your attention https://github.com/tonini/alchemist-server/issues/14#issuecomment-317044347

This issue is exploitable from any website via javascript.

[2017-07-28 19:23] axelson commented on #72
I'm having the same issue and I'm also using an umbrella project. Does this/alchemist support umbrella's?

[2017-08-08 06:28] sailxjx opened #75 "Wrong working directory when open multiple projects in the same editor"
Seems that atom-elixir will auto choose the first project as the working directory.
Indeed the project of current opening file is the correct working directory.

[2017-08-08 15:35] madasebrof opened #76 "Not working with Elixir 1.5?"
Seems to have stopped working with Elixir 1.5?

Running Linux. Console log:

[code]

[2017-08-09 11:10] madasebrof commented on #76
Huh. Seems to be working again, but still getting errors in the log about the server being busy.

[2017-08-09 11:10] #76 closed, assigned to nobody

[2017-08-15 11:46] niklasmoeller opened #77 "Mark the end of a do block"
Indicate which "end" statement belongs to the "do" statement under the cursor.

I used autocomplete-elixir, which supported that. Since it's deprecated, I would love to have that feature within atom-elixir.

This is how it looked like in autocomplete-elixir:
![bildschirmfoto 2017-08-15 um 13 44 36](https://user-images.githubusercontent.com/20340395/29314792-f59b6aca-81bf-11e7-95bd-3f0fd75faadf.png

[2017-08-21 12:20] vishnukg opened #78 "Can someone help me fix Atom goto definition error ?"
<img width="553" alt="handler_ex_ ___documents_codeplay_elixir_codepractice" src="https://user-images.githubusercontent.com/7163332/29518973-e1a1ff62-86be-11e7-95ea-50eee53fd0ae.png">

[2017-08-23 13:08] minidietcoke opened #79 "Uncaught TypeError: Cannot read property 'goToNextTabStop' of undefined"
[Enter steps to reproduce:]

1. type alias then a module name, let autocomplete suggestions show up
2. Press tab or enter - different from specified mapping for autocomplete

**Atom**: 1.19.3 x64
**Electron**: 1.6.9
**OS**: Mac OS X 10.12.6
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package 0.2.3

### Stack Trace

Uncaught TypeError: Cannot read property 'goToNextTabSt

[2017-08-23 17:12] meyercm commented on #75
This is also affecting me- is it possible to start multiple code servers, one for each project?

[2017-08-24 01:27] sailxjx commented on #75
@meyercm My current solution is open multiple windows, each window contains one project.

But I worry about this project no longer maintains by the author. I'd like to know which editor or ide can give more support to elixir.

[2017-08-25 17:17] mojidabckuu commented on #72
The same issue is for me. It was working with umbrellas. I have a project with 4 apps inside and before it was working properly but now only autocomplete is working fine.

[2017-08-25 17:45] mojidabckuu commented on #72
@abhinavzspace @axelson When you open your project does it include `_build` folder? Because I have a project with 5 apps inside and it works well.

[2017-08-25 21:58] axelson commented on #72
My problem is that the `_build` folder wasn't at the root of the currently open project folder. I opened `apps/my_web_app` as the project folder so that I could focus on only that project. If I open the root of the entire project everything works as expected.

[2017-08-26 07:59] mojidabckuu commented on #72
@axelson I would suggest you to create a link from your project folder on `../../_build` folder and then enjoy coding within single app.

[2017-08-27 08:02] lancer26 opened #80 "[alpine/erlang-crypto] {‘no such file or directory’, ‘crypto.app’} bug ?"
Hi,

Sorry for this irrelevant issue. I met some problem when i install elixir runtime in alpine, seem caused by erlang-crypto. Don't know anywhere else to ask questions, so I'm here with this issue.

I used to use below dockerfile to build image, but now it doesn't work, with error message:

 ** (MatchError) no match of right hand side value: {:error, {:crypto, {‘no such file or directory’, ‘cryp

[2017-08-28 23:46] bjufre commented on #74
@Zeeker Any news?

[2017-08-29 05:15] sascha-wolf commented on #74
This issue and the comments in it are all there is.

[2017-10-01 09:47] sciolkowski opened #81 "Uncaught Error: spawn EACCES"
Maybe it's somthing wrong with my permissions, but running Atom as  sudo didn't change anything, and everything - elixir, Atom, packages etc. are installed in my home dir, as my user.

[Enter steps to reproduce:]

1. I see that just after installing `atom-elixir`. When i deinstall it, problem disappears.

**Atom**: 1.20.1 x64
**Electron**: 1.6.9
**OS**: Linux Mint
**Thrown From**: [atom-elixir](ht

[2017-10-27 23:14] brennana commented on #32
This seems to still be a bug in this package.

Starting with the code:

[code]
I find that the error is thrown each time I add an additional `?` to the end of the function name. The error is also thrown if I type `??` or more on a line.

**Atom**: 1.21.1 x64
**Electron**: 1.6.15
**OS**: "Manjaro Linux"
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package 0.2.3

### Stack

[2017-11-08 23:35] michaelst commented on #78
I am having the same issue, anything I try to go to gives me the can't find error. Elixir version 1.5.1

[2017-12-16 09:48] thbar commented on #74
@Zeeker did you find a solution to this?

[2017-12-16 13:12] sascha-wolf commented on #74
I've since switched to Spacemacs.

[2017-12-18 13:00] #50 closed

[2018-02-14 04:47] jhbrown commented on #44
I am experiencing this bug.   In Elixir files only, enter continues to autocomplete even when I have configured autocomplete+ to use only tab.   This is with Atom 1.24.0, atom-elixir 0.23, and autocomplete-plus 2.40.0, on OS X 10.13.3.

[2018-03-06 23:41] paradox460 opened #82 "Expand and quote do nothing"
I select a use block, and run Atom Elixir: Expand. Nothing happens. Looking into my atom console shows the following error, from `elixir-expand-view.coffee [sm]:62`

[code]

I get similar errors whenever I attempt to use the quote function:

[code]

[2018-03-28 03:41] mennanov commented on #82
I'm having the same issue.
Any workarounds?

[2018-04-29 20:07] AndrewDryga commented on #82
Same here.

[2018-05-27 14:04] AndrewDryga commented on #32
@msaraiva Here is sample code to reproduce the issue:
[code]

[2018-06-05 10:20] RaimoKunnari commented on #78
Same problem here also.

[2018-06-11 15:03] jnmandal commented on #77
I abstracted the logic for this into a standalone package I am using.. I can open a PR for it on this project

[2018-08-22 09:50] Kociamber commented on #72
It still does not work in my case. Umbrella project, build folder is there, I'm opening project from the root.  I even removed build and re-compiled everything - go to definition does nothing. There are no alchemist errors except deprecation errors for som packages but also there is no alchemist-server init message.

[2018-09-27 06:26] rtvu opened #83 "Documentation Feature Not Compatible with Elixir v1.7.x"
Elixir v1.7 has hard-deprecated Code.get_docs/2. Since v0.2.3 of atom-elixir have modules that depend on this function, documentation no longer works.

[2018-12-18 03:38] richardpringle commented on #82
+1

[2019-02-06 14:20] tompesman opened #84 "Uncaught SyntaxError: Invalid regular expression: /\|>\s*???x?$/: Nothing to repeat"
[Enter steps to reproduce:]

1. type in editor: `??x??`
2. :-)

**Atom**: 1.34.0 x64
**Electron**: 2.0.16
**OS**: Mac OS X 10.14.2
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package 0.2.3

### Stack Trace

Uncaught SyntaxError: Invalid regular expression: /\|>\s*???x?$/: Nothing to repeat

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2019-03-28 00:49] #64 closed

[2019-05-07 04:20] giovanicascaes commented on #83
Still an issue. I'm trying to refactor the package to use `Code.fetch_docs/1`, but I'm still learning and this is not as trivial as it seems. It also seems that the dev has abandoned the repo long ago, though.

[2019-09-16 22:40] bmfay opened #85 "Callback must be a function"
I can't seem to get any of this packages features to work.  It seems to be building fine as I am seeing

[code]

But I can't get autocomplete to work and am seeing this error many times over in the console:

[code]

Any ideas?

[2019-09-18 09:25] gpad commented on #85
I try to fix it locally but all the things (the code inside ATOM) and the
part in elixir is very outdated and it's not maintained properly ... I
don't know if there is another package similar to this or if the author
wants update this ...

Il giorno mar 17 set 2019 alle ore 00:40 Brendan Fay <
notifications@github.com> ha scritto:

[2019-09-18 11:45] hieu-yojee commented on #85
I have the same problem. :((

[2019-11-18 15:02] jackd942 commented on #85
Same here as well.

[2019-12-05 01:48] mhyrr commented on #85
Getting the same thing, seems to happen any time an autocomplete lookup is attemped.

On Elixir 1.9.4

[2019-12-17 02:16] mindok commented on #85
me too. On windows, Atom v1.41.0

[2020-05-29 03:22] TylerTemp commented on #85
Same here on Mac, elixir-1.10.2, Erlang/OTP 22 [erts-10.7.1], atom-elixir 0.2.3

[code]

[2020-07-13 05:09] lksh2812 opened #86 "goto definition not working [alt + down key]"
[Enter steps to reproduce:]

1. alt + down key on model declaration
2. ...

**Atom**: 1.45.0 x64
**Electron**: 4.2.7
**OS**: Pop!_OS 20.04
**Thrown From**: [atom-elixir](https://github.com/msaraiva/atom-elixir) package 0.2.3

### Stack Trace

Uncaught TypeError: Cannot read property 'stdin' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2020-08-20 01:18] kiecooboi opened #87 "atom-elixir is not working at all!"
After I install `atom-elixir` package and type something in `.ex` or `.exs` file, nothing works like autocompletion and stuff, I've only install 3 packages in Atom:
1. atom-elixir
2.file-icons
3.language-elixir

and when I take a look at Console in Atom, I got:
https://imgur.com/yLEir0M <- Here's the screenshot